<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>155595325949-slg7i0osocjqbjq78j8pt6tuvaqbrg5p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.155595325949-slg7i0osocjqbjq78j8pt6tuvaqbrg5p</string>
	<key>API_KEY</key>
	<string>AIzaSyDCxs39CXFeDsHnHn0zUSo0pQdxENnh3EE</string>
	<key>GCM_SENDER_ID</key>
	<string>155595325949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.pcrm.VeganKickstartES</string>
	<key>PROJECT_ID</key>
	<string>vegetarianoen21dias</string>
	<key>STORAGE_BUCKET</key>
	<string>vegetarianoen21dias.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:155595325949:ios:9826d62dc5a8076f</string>
	<key>DATABASE_URL</key>
	<string>https://vegetarianoen21dias.firebaseio.com</string>
</dict>
</plist>